## This is an example of the content based filtering and recommendation. Here we use contents to create tags and then use it to calculate similarity.

In [5]:
import pandas as pd
import numpy as np
import os

In [17]:
movie = pd.read_csv('data/tmdb_5000_movies.csv')
credit = pd.read_csv('data/tmdb_5000_credits.csv')

In [22]:
movie.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [21]:
movie.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [24]:
movie.shape

(4803, 20)

In [26]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [27]:
credit.shape

(4803, 4)

## Let's merge both the dataframe into movies one

In [57]:
movies = movie.merge(credit, on='title')

In [58]:
movies.shape   ## columns increased

(4809, 23)

In [59]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Filtering out the important columns for recommendation system creation and dropping others

#### We are trying to recommend the movies on the basis of some columns like overview, genres,keywords, cast,crew but we need to store movie id and title so that we can show the movie title on the front end and movie ID will be used to pull the movie posters etc from TMDB API.

In [60]:
movies = movies[['movie_id','title','overview','keywords','genres','cast','crew']]
movies.head()

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [61]:
movies.shape

(4809, 7)

In [62]:
## Let's check for the null values in the updated df
movies.isnull().sum()

movie_id    0
title       0
overview    3
keywords    0
genres      0
cast        0
crew        0
dtype: int64

In [63]:
## Since, only three are with null values so let's drop those records
movies.dropna(inplace=True)

In [64]:
movies.shape

(4806, 7)

In [65]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
keywords    0
genres      0
cast        0
crew        0
dtype: int64

In [66]:
movies.iloc[0]['genres']   ## 1 record of genres contain this much of record

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

### We would like to convert all our features/columns into list so let's convert the genres into list first

In [67]:
## Let's define a function which will only take the name and not the id of the genres
import ast   ## to convert into strings
def convert(text):
    L=[]
    for i in ast.literal_eval(text):
        L.append(i['name'])    ## Just appending the name and not the id
    return L

In [68]:
movies['genres'] = movies['genres'].apply(convert)
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [69]:
movies.head(5)    ##genres has been fixed now according to our need

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Action, Adventure, Crime]","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Action, Crime, Drama, Thriller]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Action, Adventure, Science Fiction]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [70]:
### Let's convert the keywords in the same way we did for genres
movies['keywords'] = movies['keywords'].apply(convert)
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united statesâ€“mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [71]:
movies.head(5)   ## keywords is fixed as well

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Now let's do some preprocessing on the cast, here we would like to convert it into list as we did above for some columns and moreover we don't want entire cast names, instead we will just store top 5 cast

In [72]:
movies.iloc[0]['cast']    ## As we can see in one movie there are so much of cast hence, we reduce it to top 5

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [73]:
## A function to store just top 5 cast
def top_five_cast_filter(text):
    L=[]
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 5:
            L.append(i['name'])
            counter+=1
    return L

In [74]:
movies['cast'] = movies['cast'].apply(top_five_cast_filter)
movies['cast']

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805    [Edward Burns, Kerry BishÃ©, Marsha Dietlein, C...
4806    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4807    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4806, dtype: object

In [75]:
movies.head(5)

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Now let's handle the crew, as we know in a movie there are hundreds of crew members, so here we will just extract few of them, may be just the director as of now

In [76]:
## Let's define a function to do so
def get_director_from_crew(text):
    L=[]
    for i in ast.literal_eval(text):
        if i['job'] == 'Director' or i['job'] == 'director':
            L.append(i['name'])
    return L

In [77]:
movies['crew'] = movies['crew'].apply(get_director_from_crew)
movies['crew']

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4806, dtype: object

In [80]:
movies.head(5)

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

### Let's convert the overview into list as well

In [81]:
movies.iloc[0]['overview']    ## it is not in list and just a string

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [82]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [83]:
movies.iloc[0]['overview']

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

### Now let's remove the space from each two string, for eg if name says name1 = Atul Rai and name 2 = Atul Singh, then we will encode them using nltk then, it will consider three names Atul, Rai and Singh. So when removed the space we can make them unique stirngs

In [84]:
## let's define a function to do so
def remove_space(text):
    L=[]
    for i in text:
        L.append(i.replace(" ",""))
    return L

In [85]:
## Let's remove space from all the columns
movies['cast'] = movies['cast'].apply(remove_space)
movies['crew'] = movies['crew'].apply(remove_space)
movies['genres'] = movies['genres'].apply(remove_space)
movies['keywords'] = movies['keywords'].apply(remove_space)

In [86]:
movies.head(5)     ## As we can see now all the spaces are gone between two similar workds

,movie_id,title,overview,keywords,genres,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

### Now we are going to merge all the above 4 features into one list and it will be termed as tags, so that with respect to those tags we will define the similarity and the recommendations

In [87]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['genres'] + movies['cast'] + movies['crew']
movies.head(5)

,movie_id,title,overview,keywords,genres,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [88]:
movies.iloc[0]['tags']

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'StephenLang',
 'MichelleRodriguez',
 'JamesCameron']

In [89]:
## Let's create a new dataframe with only three feature columns title, id and tags
movie_df = movies[['movie_id','title','tags']]
movie_df.head(5)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [90]:
### Now finally converting the tags into string again
movie_df['tags'] = movie_df['tags'].apply(lambda x:" ".join(x))
movie_df.head(6)

C:\Users\atulkumarrai\anaconda3\envs\Movie_Recommender_system\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
5,559,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...

### Now we will convert the tags into either lower case or upper case so that same word with different cases should not be treated as different words

In [91]:
movie_df['tags'] = movie_df['tags'].apply(lambda x:x.lower())
movie_df.head(6)

C:\Users\atulkumarrai\anaconda3\envs\Movie_Recommender_system\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
5,559,Spider-Man 3,the seemingly invincible spider-man goes up ag...

### Recommendation engine creation starts here

In [94]:
import nltk
from nltk.stem import PorterStemmer

In [95]:
ps = PorterStemmer()

### Stemming will convert the different words into their root form, eg liking, likes, liked they will be termed as like as it is their root word

In [101]:

def stems(text):
    T = []
    for i in text.split():
        T.append(ps.stem(i))
        
    return " ".join(T)

In [97]:
movie_df['tags'] = movie_df['tags'].apply(stems)
movie_df['tags']

C:\Users\atulkumarrai\anaconda3\envs\Movie_Recommender_system\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bondâ€™ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [102]:
movie_df['tags'].iloc[1]

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting adventur fantasi action johnnydepp orlandobloom keiraknightley stellanskarsgÃ¥rd chowyun-fat goreverbinski"

### CountVectorizer is a method in which it creates a table of all the unique words as column and the records are in rows, and the it counts the number of occurences of each of those words in that sentense or record.

In [103]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')     ## max_features is the hyperparameter 
                                                                ## stop_words are those words which can be removed from preprocessing step as they don't add much meaning
                                                                ## ex of stop words are pronouns, preposition etc, He, is, in, on, with etc.

### max_features is the hyperparameter, which creates a vocabulary of the top 5000 words if max_features=5000 and assign their frequency(vector/count/occurences)

In [104]:
vector = cv.fit_transform(movie_df['tags']).toarray()

In [106]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [107]:
vector.shape

(4806, 5000)

In [108]:
len(cv.get_feature_names())

C:\Users\atulkumarrai\anaconda3\envs\Movie_Recommender_system\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

5000

In [120]:
cv.get_feature_names()   ## These are the top 5000 words finalized by our system, now their vectorization will be done

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '17th',
 '18',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1940',
 '1944',
 '1950',
 '1950s',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1971',
 '1974',
 '1976',
 '1980',
 '1985',
 '1990',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2003',
 '2009',
 '20th',
 '21st',
 '23',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'aarontaylor',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abus',
 'academ',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adambrodi',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrienbrodi',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'advanc',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alanalda',
 'alanarkin',
 'alanrickman',
 'alaska',
 'albert',
 'albertbrook',
 'alcohol',
 'alecbaldwin',
 'alex',
 'alexkendrick',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'ali',
 'alic',
 'alice',
 'alien',
 'alieninvas',
 'alienlife',
 'alik',
 'aliv',
 'alive',
 'allen',
 'alli',
 'allianc',
 'allisonjanney',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'ambassador',
 'amberheard',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americanfootbal',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'amyadam',
 'amysmart',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrew',
 'android',
 'andy',
 'andygarcÃ­a',
 'andyserki',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'anger',
 'angle',
 'angri',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'annapaquin',
 'annasophiarobb',
 'anne',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthonymacki',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antoinefuqua',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'appar',
 'appear',
 'appl',
 'apple',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armiehamm',
 'armor',
 'armsdeal',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrangedmarriag',
 'arrest',
 'arriv',
 'arrog',
 'art',
 'arthur',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assault',
 'assembl',
 'assign',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atom',
 'atomicbomb',
 'attack',
 'attacks',
 'attempt',
 'attempttoescap',
 'attend',
 'attent',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'autism',
 'auto',
 'automobilerac',
 'aveng',
 'averag',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'ax',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'bad',
 'bag',
 'bahama',
 'bail',
 'bailey',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'baltimor',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrylevinson',
 'barrypepp',
 'bas',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'beach',
 'bear',
 'beast',
 'beat',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belief',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'berniemac',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'betray',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'bibl',
 'big',
 'bigger',
 'biggest',
 'biker',
 'bikini',
 'billhad',
 'billi',
 'billionair',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'biographi',
 'biolog',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'black',
 'blackmag',
 'blackmail',
 'blackpeopl',
 'blade',
 'blame',
 'blend',
 'blind',
 'bliss',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'blow',
 'blue',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bobbyfarrelli',
 'bobhoskin',
 'bodi',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bond',
 'bone',
 'bonniehunt',
 'book',
 'border',
 'bore',
 'boredom',
 'born',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'bounti',
 'bountyhunt',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'boys',
 'braddourif',
 'bradleycoop',
 'bradpitt',
 'brain',
 'brand',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breath',
 'breckinmey',
 'breed',
 'brendanfras',
 'brendangleeson',
 'brent',
 'brettratn',
 'brian',
 'briancox',
 'briandepalma',
 'bride',
 'bridesmaid',
 'bridg',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'brittanymurphi',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'brook',
 'brooklyn',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucecampbel',
 'brucedern',
 'brucegreenwood',
 'brucemcgil',
 'brucewilli',
 'brutal',
 'bryansing',
 'brycedallashoward',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'buddycomedi',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'bunni',
 'burglar',
 'buri',
 'burn',
 'burtreynold',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butcher',
 'butler',
 'butt',
 'buy',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'calvin',
 'camcord',
 'came',
 'camera',
 'cameraman',
 'camerondiaz',
 'camgigandet',
 'camp',
 'campaign',
 'campbell',
 'campbellscott',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'canin',
 'cannib',
 'capabl',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captur',
 'capture',
 'car',
 'caraccid',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'careymulligan',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carol',
 'carolina',
 'carrac',
 'carri',
 'carrie',
 'cartel',
 'carter',
 'cartoon',
 'caryelw',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherinedeneuv',
 'catherinekeen',
 'catherineo',
 'catherinezeta',
 'cathol',
 'catholic',
 'cattl',
 'caught',
 'caus',
 'cavalri',
 'cave',
 'cavemen',
 'cedrictheentertain',
 'celebr',
 'celebration',
 'cell',
 'cellphon',
 'cemeteri',
 'center',
 'centr',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'chad',
 'chadmichaelmurray',
 'chain',
 'chainsaw',
 'challeng',
 'chamber',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'change',
 'changes',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charless',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlotterampl',
 'charm',
 'chart',
 'chase',
 'chauffeur',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhood',
 'children',
 'chill',
 'chimcbrid',
 'china',
 'chines',
 'chip',
 'chipmunk',
 'chiwetelejiofor',
 'chloÃ«gracemoretz',
 'chloÃ«sevigni',
 'chocol',
 'choic',
 'choice',
 'choos',
 'chosen',
 'chowyun',
 'chri',
 'chriscolumbu',
 'chriscoop',
 'chrisevan',
 'chrishemsworth',
 'chrisklein',
 'chriso',
 'chrispin',
 'chrispratt',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christin',
 'christinaappleg',
 'christinaricci',
 'christma',
 'christmas',
 'christmasparti',
 'christmastre',
 'christoph',
 'christopherguest',
 'christopherlambert',
 'christopherlloyd',
 'christophermcdonald',
 'christophernolan',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chrisweitz',
 'chronicl',
 'chuck',
 'church',
 'cia',
 'ciarÃ¡nhind',
 'cigarettesmok',
 'cillianmurphi',
 'cinema',
 'circl',
 'circu',
 'circuit',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilwar',
 'claim',
 'clair',
 'clairedan',
 'claireforlani',
 'clan',
 'clancybrown',
 'clark',
 'clash',
 'class',
 'classdiffer',
 'classic',
 'classmat',
 'classroom',
 'claudevandamm',
 'clay',
 'cleaduval',
 'clean',
 'clear',
 'clerk',
 'clever',
 'client',
 'clients',
 'cliff',
 'cliffcurti',
 'climat',
 'climb',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'clorisleachman',
 'close',
 'closer',
 'cloud',
 'clown',
 'club',
 'clue',
 'clueless',
 'clutch',
 'coach',
 'coast',
 'cocain',
 'code',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colehaus',
 'colin',
 'colinfarrel',
 'colinfirth',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collin',
 'collis',
 'colombia',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comet',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commiss',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compuls',
 'comput',
 'computerviru',
 'conan',
 'concern',
 'concert',
 'condit',
 'confess',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connel',
 'connienielsen',
 'connor',
 'conquer',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contend',
 'contest',
 'continu',
 'contract',
 'control',
 'controversi',
 'convent',
 'convers',
 'convict',
 'convinc',
 ...]

In [117]:
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

In [110]:
similarity = cosine_similarity(vector)

In [111]:
similarity.shape

(4806, 4806)

In [116]:
similarity

array([[1.        , 0.08108108, 0.08718573, ..., 0.04604093, 0.        ,
        0.        ],
       [0.08108108, 1.        , 0.05812382, ..., 0.02302046, 0.        ,
        0.02507061],
       [0.08718573, 0.05812382, 1.        , ..., 0.02475369, 0.        ,
        0.        ],
       ...,
       [0.04604093, 0.02302046, 0.02475369, ..., 1.        , 0.040008  ,
        0.04270814],
       [0.        , 0.        , 0.        , ..., 0.040008  , 1.        ,
        0.08714204],
       [0.        , 0.02507061, 0.        , ..., 0.04270814, 0.08714204,
        1.        ]])

In [118]:
cd = cosine_distances(vector)
cd

array([[0.        , 0.91891892, 0.91281427, ..., 0.95395907, 1.        ,
        1.        ],
       [0.91891892, 0.        , 0.94187618, ..., 0.97697954, 1.        ,
        0.97492939],
       [0.91281427, 0.94187618, 0.        , ..., 0.97524631, 1.        ,
        1.        ],
       ...,
       [0.95395907, 0.97697954, 0.97524631, ..., 0.        , 0.959992  ,
        0.95729186],
       [1.        , 1.        , 1.        , ..., 0.959992  , 0.        ,
        0.91285796],
       [1.        , 0.97492939, 1.        , ..., 0.95729186, 0.91285796,
        0.        ]])

### Let's do the recommendation on the basis of the similarity list, we will only take the top 5 similar movies

In [127]:
## calculating index of the movies based on their titles
index = movie_df[movie_df['title'] == 'Avatar'].index[0]

In [124]:
## calculating the distances in decreasing order, here for movies Avatar whose index is 0 has most matched movie on index 1216 index, then on 507 index.
distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
distances

[(0, 1.0),
 (1216, 0.2926585541394632),
 (507, 0.26130213378560535),
 (3730, 0.25732511773283273),
 (582, 0.2484013136974297),
 (539, 0.2465984809580359),
 (2409, 0.24507154069793594),
 (1194, 0.23490461932490855),
 (778, 0.23249527748763854),
 (61, 0.23015858222750019),
 (1920, 0.2256354947537551),
 (4048, 0.22482004035239062),
 (1204, 0.22305671869347438),
 (2786, 0.22147019900891643),
 (172, 0.21524880100025257),
 (2333, 0.2092457497388747),
 (322, 0.20795009796401454),
 (3608, 0.20712325533373332),
 (972, 0.20668850837512243),
 (1089, 0.20608503698969144),
 (4192, 0.2056773510573183),
 (1444, 0.20549873413169661),
 (74, 0.20518233866439894),
 (260, 0.20343336780168372),
 (577, 0.20343336780168372),
 (151, 0.20134681656420733),
 (973, 0.20032733246124987),
 (3675, 0.19827263883864388),
 (3999, 0.19727878476642874),
 (47, 0.19649437297296482),
 (2971, 0.19374606457303215),
 (27, 0.19101436199010396),
 (305, 0.19101436199010396),
 (4405, 0.18983159915049982),
 (4, 0.1898315991504998),
 (942, 0.1898315991504998),
 (3327, 0.18857857160117855),
 (495, 0.18641092980036),
 (1201, 0.18641092980036),
 (1329, 0.18641092980036),
 (2999, 0.18380365552345193),
 (83, 0.1823843010350213),
 (1071, 0.18195633571851272),
 (94, 0.18009006755629928),
 (1321, 0.17937400083354382),
 (184, 0.17757120130114434),
 (4336, 0.17757120130114434),
 (2204, 0.1754942736973651),
 (3538, 0.1754942736973651),
 (91, 0.1743714581157289),
 (220, 0.1743714581157289),
 (1275, 0.1743714581157289),
 (36, 0.17348855898381338),
 (168, 0.17348855898381338),
 (931, 0.17170914210964275),
 (1982, 0.17170914210964275),
 (300, 0.17155007848855516),
 (3162, 0.17122340098907804),
 (529, 0.1696751579473019),
 (1831, 0.1696751579473019),
 (56, 0.1677890138035061),
 (373, 0.1677890138035061),
 (661, 0.16702953813186466),
 (67, 0.16673100431301852),
 (1537, 0.16610264925668733),
 (150, 0.16542328997110672),
 (41, 0.1643989873053573),
 (595, 0.1643989873053573),
 (342, 0.1614366007501894),
 (2515, 0.16120647005479025),
 (1178, 0.1600142241187995),
 (4010, 0.15949044456578),
 (2731, 0.15819299929208316),
 (149, 0.15608456220771372),
 (187, 0.1559625734730109),
 (513, 0.1559625734730109),
 (31, 0.1553424415003),
 (26, 0.15404884978892902),
 (1344, 0.15404884978892902),
 (838, 0.15288795268898325),
 (1383, 0.15042366316917008),
 (311, 0.15042366316917005),
 (581, 0.15007505629691606),
 (2075, 0.15007505629691606),
 (2760, 0.14982047586544328),
 (111, 0.1487044791289829),
 (1297, 0.1487044791289829),
 (3354, 0.14763464883937316),
 (1396, 0.14734393379094007),
 (1479, 0.14734393379094005),
 (127, 0.14704292441876154),
 (1938, 0.1454358496691159),
 (7, 0.14543584966911588),
 (108, 0.14543584966911588),
 (413, 0.1453095484297741),
 (1355, 0.1438803413133505),
 (466, 0.14349920066683505),
 (1488, 0.14349920066683505),
 (275, 0.14309095175803563),
 (294, 0.14309095175803563),
 (461, 0.14309095175803563),
 (579, 0.14309095175803563),
 (3409, 0.14309095175803563),
 (1273, 0.14237369936287486),
 (1965, 0.14165281524036175),
 (568, 0.14097096860865022),
 (1056, 0.14091341769030624),
 (490, 0.14019992744655632),
 (1327, 0.14019992744655632),
 (3781, 0.14019992744655632),
 (17, 0.13955413899505748),
 (95, 0.13949716649258315),
 (859, 0.1389425035941821),
 (1945, 0.1389425035941821),
 (2169, 0.1389425035941821),
 (2496, 0.1389425035941821),
 (4538, 0.13812277665483924),
 (249, 0.1371182340382122),
 (505, 0.1371182340382122),
 (2584, 0.1371182340382122),
 (3982, 0.1371182340382122),
 (46, 0.13699915608779772),
 (72, 0.13699915608779772),
 (843, 0.13699915608779772),
 (4348, 0.13678822577626598),
 (1322, 0.13657399193174952),
 (777, 0.1354916256531435),
 (126, 0.13513513513513514),
 (1560, 0.13513513513513514),
 (1373, 0.1342312110428049),
 (502, 0.13423121104280486),
 (4079, 0.13334518676566626),
 (158, 0.13300532955644181),
 (2133, 0.13300532955644181),
 (3622, 0.1316245316231641),
 (4230, 0.1316245316231641),
 (668, 0.13151918984428584),
 (935, 0.13151918984428584),
 (2378, 0.13151918984428584),
 (2873, 0.13065106689280268),
 (206, 0.13030163843373951),
 (138, 0.12996881122750908),
 (937, 0.12996881122750908),
 (1086, 0.12996881122750908),
 (1808, 0.12996881122750908),
 (2181, 0.12996881122750908),
 (2686, 0.12996881122750908),
 (368, 0.1289651760438322),
 (476, 0.1289651760438322),
 (773, 0.1289651760438322),
 (1015, 0.1283740414907742),
 (14, 0.12683657235796025),
 (2450, 0.12683657235796025),
 (3628, 0.12683657235796025),
 (134, 0.12655439943366653),
 (487, 0.12655439943366653),
 (1774, 0.12655439943366653),
 (2970, 0.12655439943366653),
 (1741, 0.12629480039223434),
 (52, 0.12535305264097507),
 (166, 0.12535305264097507),
 (557, 0.12535305264097507),
 (84, 0.12527215359889848),
 (102, 0.12427395320024),
 (208, 0.12427395320024),
 (1096, 0.12427395320024),
 (1158, 0.12427395320024),
 (1878, 0.12427395320024),
 (2652, 0.12427395320024),
 (1401, 0.12392039927415242),
 (2331, 0.12329924047901797),
 (2480, 0.12329924047901797),
 (3083, 0.12329924047901797),
 (4000, 0.12329924047901797),
 (1299, 0.12253577034896797),
 (3235, 0.12253577034896795),
 (483, 0.1221125021745327),
 (1658, 0.1221125021745327),
 (3376, 0.1221125021745327),
 (1002, 0.12141669877745292),
 (438, 0.12119654139092992),
 (68, 0.12006004503753284),
 (1004, 0.12006004503753284),
 (1047, 0.12006004503753284),
 (1274, 0.12006004503753284),
 (1301, 0.12006004503753284),
 (1833, 0.12006004503753284),
 (2060, 0.12006004503753284),
 (4673, 0.12006004503753284),
 (549, 0.11990028442779209),
 (870, 0.11990028442779209),
 (900, 0.11990028442779209),
 (139, 0.11961783342433499),
 (1673, 0.11961783342433499),
 (1715, 0.11961783342433499),
 (182, 0.1186447494690624),
 (454, 0.1186447494690624),
 (678, 0.11810771907149853),
 (160, 0.11806886145601307),
 (2284, 0.11742784807525519),
 (589, 0.11706342165578529),
 (3212, 0.11697193010475818),
 (2674, 0.1162476387438193),
 (2789, 0.1162476387438193),
 (122, 0.11624763874381927),
 (228, 0.11624763874381927),
 (781, 0.11624763874381927),
 (2741, 0.11624763874381927),
 (432, 0.11510231387903269),
 (536, 0.11510231387903269),
 (1418, 0.11510231387903269),
 (2372, 0.11510231387903269),
 (2547, 0.11510231387903269),
 (85, 0.11507929111375009),
 (1497, 0.11466596451673744),
 (3147, 0.11466596451673744),
 (50, 0.1144727614064285),
 (422, 0.1144727614064285),
 (1220, 0.1139901881468883),
 (1617, 0.1139901881468883),
 (889, 0.11394547734377711),
 (229, 0.11314714296070713),
 (808, 0.11314714296070713),
 (3721, 0.11314714296070713),
 (43, 0.11290968804428624),
 (1512, 0.11290968804428624),
 (232, 0.11277677488692017),
 (236, 0.11277677488692017),
 (449, 0.11277677488692017),
 (1031, 0.11277677488692017),
 (1616, 0.11277677488692017),
 (2817, 0.11277677488692017),
 (4468, 0.11277677488692017),
 (1574, 0.11168711865749101),
 (28, 0.11115400287534567),
 (87, 0.11115400287534567),
 (786, 0.11115400287534567),
 (814, 0.11115400287534567),
 (81, 0.11097798692504908),
 (123, 0.11083777463036817),
 (420, 0.11083777463036817),
 (3630, 0.11083777463036817),
 (189, 0.11028219331407116),
 (238, 0.11028219331407116),
 (627, 0.11028219331407116),
 (1348, 0.11028219331407116),
 (5, 0.1098436937909367),
 (262, 0.1098436937909367),
 (3093, 0.1098436937909367),
 (3309, 0.1098436937909367),
 (121, 0.10959932487023819),
 (3428, 0.10959932487023819),
 (3498, 0.10959932487023819),
 (4777, 0.10959932487023819),
 (307, 0.10922842930614542),
 (692, 0.10887588907733556),
 (740, 0.10887588907733556),
 (939, 0.10827079910776224),
 (2148, 0.10810810810810811),
 (3008, 0.10810810810810811),
 (3140, 0.10810810810810811),
 (233, 0.10762440050012628),
 (256, 0.10762440050012628),
 (653, 0.10762440050012628),
 (1501, 0.10762440050012628),
 (1524, 0.10762440050012628),
 (2634, 0.10762440050012628),
 (467, 0.10701462561817378),
 (1496, 0.10701462561817378),
 (572, 0.10701462561817376),
 (21, 0.106676149412533),
 (223, 0.106676149412533),
 (295, 0.106676149412533),
 (332, 0.106676149412533),
 (472, 0.106676149412533),
 (1237, 0.106676149412533),
 (2072, 0.106676149412533),
 (3340, 0.106676149412533),
 (170, 0.1061190899945022),
 (75, 0.10529962529853128),
 (131, 0.10529962529853128),
 (687, 0.10529962529853128),
 (2439, 0.10524566699352861),
 (2498, 0.10524566699352861),
 (2099, 0.1052456669935286),
 (200, 0.10514994558491725),
 (1575, 0.10514994558491725),
 (1745, 0.10514994558491725),
 (2323, 0.10514994558491725),
 (2521, 0.10514994558491725),
 (3621, 0.10514994558491725),
 (3839, 0.10514994558491725),
 (4135, 0.10514994558491725),
 (491, 0.10439346133241542),
 (1455, 0.10439346133241542),
 (1037, 0.10397504898200727),
 (1614, 0.10397504898200727),
 (3152, 0.10397504898200727),
 (3634, 0.10397504898200727),
 (3755, 0.10397504898200727),
 (4097, 0.10397504898200727),
 (654, 0.10356162766686666),
 (2106, 0.10356162766686666),
 (1166, 0.10283867552865913),
 (2161, 0.10283867552865913),
 (2762, 0.10283867552865913),
 (3663, 0.10283867552865913),
 (3441, 0.10274936706584831),
 (1082, 0.10269923319261937),
 (1294, 0.10269923319261937),
 (1771, 0.10269923319261937),
 (2247, 0.10269923319261937),
 (3874, 0.10269923319261937),
 (10, 0.10146925788636821),
 (312, 0.10146925788636821),
 (754, 0.10146925788636821),
 (1405, 0.1011805823145441),
 (105, 0.10067340828210367),
 (157, 0.10067340828210367),
 (1280, 0.10067340828210367),
 (1884, 0.10067340828210367),
 (2456, 0.10067340828210367),
 (2787, 0.10067340828210367),
 (3055, 0.10067340828210367),
 (4018, 0.10067340828210367),
 (4198, 0.10067340828210367),
 (4490, 0.10067340828210367),
 (363, 0.10042266465917388),
 (1439, 0.10042266465917388),
 (330, 0.10028244211278005),
 (445, 0.10028244211278005),
 (508, 0.10028244211278005),
 (643, 0.10028244211278005),
 (898, 0.10028244211278005),
 (3620, 0.10028244211278005),
 (3783, 0.10028244211278005),
 (3935, 0.10028244211278005),
 (4019, 0.10028244211278005),
 (510, 0.09913631941932194),
 (535, 0.09913631941932194),
 (988, 0.09913631941932194),
 (1109, 0.09913631941932194),
 (1823, 0.09913631941932194),
 (2253, 0.09913631941932194),
 (1775, 0.0989565616659599),
 (624, 0.09863939238321438),
 (715, 0.09863939238321438),
 (878, 0.09863939238321438),
 (1077, 0.09863939238321438),
 (1156, 0.09863939238321438),
 (1306, 0.09863939238321438),
 (3954, 0.09863939238321438),
 (4256, 0.09863939238321438),
 (266, 0.09802861627917438),
 (334, 0.09802861627917438),
 (371, 0.09802861627917438),
 (480, 0.09802861627917438),
 (1195, 0.09802861627917438),
 (230, 0.09755285137982107),
 (410, 0.09695723311274393),
 (2241, 0.09695723311274393),
 (2556, 0.09695723311274393),
 (18, 0.09687303228651607),
 (4545, 0.09687303228651607),
 (35, 0.09672388203287416),
 (148, 0.09672388203287416),
 (263, 0.09672388203287416),
 (319, 0.09672388203287416),
 (325, 0.09672388203287416),
 (791, 0.09672388203287416),
 (1727, 0.09672388203287416),
 (1942, 0.09672388203287416),
 (2053, 0.09672388203287416),
 (2562, 0.09672388203287416),
 (4203, 0.09672388203287416),
 (4403, 0.09672388203287416),
 (4472, 0.09672388203287416),
 (9, 0.09592022754223367),
 (1357, 0.09592022754223367),
 (1846, 0.09592022754223367),
 (3407, 0.09592022754223367),
 (11, 0.09491579957524991),
 (278, 0.09491579957524991),
 (412, 0.09491579957524991),
 (1692, 0.09491579957524991),
 (1701, 0.09491579957524991),
 (2650, 0.09491579957524991),
 (2820, 0.09491579957524991),
 (3720, 0.09491579957524991),
 (4343, 0.09491579957524991),
 (33, 0.0949157995752499),
 (244, 0.0949157995752499),
 (362, 0.0949157995752499),
 (660, 0.0949157995752499),
 (920, 0.0949157995752499),
 (1474, 0.0949157995752499),
 (1686, 0.0949157995752499),
 (2645, 0.0949157995752499),
 (3537, 0.0949157995752499),
 (4331, 0.0949157995752499),
 (243, 0.09394227846020416),
 (2488, 0.09394227846020416),
 (2592, 0.09394227846020416),
 (301, 0.09367501681349609),
 (1721, 0.09320546490018),
 (1756, 0.09320546490018),
 (2093, 0.09320546490018),
 (3736, 0.09320546490018),
 (239, 0.0930725988812425),
 (785, 0.0930725988812425),
 (799, 0.0930725988812425),
 (129, 0.09299811099505542),
 (596, 0.09299811099505542),
 (1446, 0.09299811099505542),
 (1906, 0.09299811099505542),
 (2570, 0.09248165577087425),
 (473, 0.09208185110322616),
 (813, 0.09208185110322616),
 (997, 0.09208185110322616),
 (3389, 0.09208185110322616),
 (3881, 0.09208185110322616),
 (980, 0.09158437663089952),
 (1573, 0.09158437663089952),
 (2251, 0.09158437663089952),
 (2396, 0.09158437663089952),
 (2651, 0.09158437663089952),
 (2957, 0.09158437663089952),
 (331, 0.09119215051751065),
 (602, 0.09119215051751065),
 (671, 0.09119215051751065),
 (1233, 0.09119215051751065),
 (1276, 0.09119215051751065),
 (2363, 0.09119215051751065),
 (2796, 0.09119215051751065),
 (2856, 0.09119215051751065),
 (3462, 0.09119215051751065),
 (4353, 0.09119215051751065),
 (274, 0.09069518686936531),
 (1783, 0.09032775043542898),
 (3553, 0.09032775043542898),
 (2115, 0.0902256659231352),
 (88, 0.09004503377814962),
 (219, 0.09004503377814962),
 (356, 0.09004503377814962),
 (400, 0.09004503377814962),
 (511, 0.09004503377814962),
 (1027, 0.09004503377814962),
 (1480, 0.09004503377814962),
 (2868, 0.09004503377814962),
 (2713, 0.08948747402853657),
 (63, 0.08867021970429453),
 (169, 0.08867021970429453),
 (199, 0.08867021970429453),
 (2740, 0.08867021970429453),
 (479, 0.0886379935648677),
 (2448, 0.0886379935648677),
 (12, 0.0885807893036239),
 (141, 0.0885807893036239),
 (167, 0.0885807893036239),
 (389, 0.0885807893036239),
 (564, 0.0885807893036239),
 (794, 0.0885807893036239),
 (1249, 0.0885807893036239),
 (1259, 0.0885807893036239),
 (2660, 0.0885807893036239),
 (3322, 0.0885807893036239),
 (3448, 0.0885807893036239),
 (270, 0.08787495503274936),
 (752, 0.08787495503274936),
 (827, 0.08787495503274936),
 (1832, 0.08787495503274936),
 (2109, 0.08787495503274936),
 (2880, 0.08787495503274936),
 (3556, 0.08787495503274936),
 (4516, 0.08787495503274936),
 (4587, 0.08787495503274936),
 (2, 0.08718572905786445),
 (23, 0.08718572905786445),
 (745, 0.08718572905786445),
 (960, 0.08718572905786445),
 (3135, 0.08718572905786445),
 (4754, 0.08718572905786445),
 (143, 0.08710071126186844),
 (618, 0.08710071126186844),
 (2354, 0.08710071126186844),
 (1019, 0.0863465783552691),
 (1639, 0.0863465783552691),
 (292, 0.08585457105482137),
 (457, 0.08585457105482137),
 (1378, 0.08585457105482137),
 (1589, 0.08585457105482137),
 (1749, 0.08585457105482137),
 (2583, 0.08585457105482137),
 (4560, 0.08585457105482137),
 (217, 0.08561170049453902),
 (234, 0.08561170049453902),
 (19, 0.08489527199560176),
 (32, 0.08489527199560176),
 (403, 0.08489527199560176),
 (541, 0.08489527199560176),
 (1305, 0.08489527199560176),
 (1530, 0.08489527199560176),
 (2968, 0.08489527199560176),
 (4502, 0.08489527199560176),
 (4568, 0.08489527199560176),
 (4737, 0.08489527199560176),
 (1097, 0.08458258116519013),
 (1142, 0.08458258116519013),
 (2235, 0.08458258116519013),
 (2304, 0.08458258116519013),
 (3449, 0.08458258116519013),
 (3470, 0.08458258116519013),
 (3905, 0.08419653359482289),
 (2386, 0.08389450690175305),
 (45, 0.08351476906593233),
 (48, 0.08351476906593233),
 (190, 0.08351476906593233),
 (39, 0.08336550215650926),
 (142, 0.08336550215650926),
 (315, 0.08336550215650926),
 (626, 0.08336550215650926),
 (775, 0.08336550215650926),
 (2128, 0.08336550215650926),
 (2661, 0.08336550215650926),
 (3301, 0.08336550215650926),
 (3926, 0.08336550215650926),
 (2203, 0.08284930213349333),
 (152, 0.08219949365267865),
 (203, 0.08219949365267865),
 (227, 0.08219949365267865),
 (245, 0.08219949365267865),
 (306, 0.08219949365267865),
 (341, 0.08219949365267865),
 (534, 0.08219949365267865),
 (547, 0.08219949365267865),
 (812, 0.08219949365267865),
 (866, 0.08219949365267865),
 (894, 0.08219949365267865),
 (1149, 0.08219949365267865),
 (1207, 0.08219949365267865),
 (1519, 0.08219949365267865),
 (1688, 0.08219949365267865),
 (2167, 0.08219949365267865),
 (2644, 0.08219949365267865),
 (2671, 0.08219949365267865),
 (2792, 0.08219949365267865),
 (2865, 0.08219949365267865),
 (2877, 0.08219949365267865),
 (3180, 0.08219949365267865),
 (3527, 0.08219949365267865),
 (3560, 0.08219949365267865),
 (3764, 0.08219949365267865),
 (3978, 0.08219949365267865),
 (4279, 0.08219949365267865),
 (4626, 0.08219949365267865),
 (4641, 0.08219949365267865),
 (4654, 0.08219949365267865),
 (4657, 0.08219949365267865),
 (38, 0.08156473902861858),
 (103, 0.08156473902861858),
 (501, 0.08156473902861858),
 (1828, 0.08156473902861858),
 (1, 0.08108108108108109),
 (369, 0.08108108108108109),
 (402, 0.08108108108108109),
 (787, 0.08108108108108109),
 (901, 0.08108108108108109),
 (1269, 0.08108108108108109),
 (1747, 0.08108108108108109),
 (3816, 0.08108108108108109),
 (3851, 0.08108108108108109),
 (486, 0.08099356774626426),
 (222, 0.08094446585163528),
 (1534, 0.08094446585163528),
 (4506, 0.08094446585163528),
 (51, 0.0803381317273391),
 (70, 0.08000711205939975),
 (854, 0.08000711205939975),
 (1080, 0.08000711205939975),
 (1325, 0.08000711205939975),
 (2295, 0.08000711205939975),
 (2683, 0.08000711205939975),
 (3028, 0.08000711205939975),
 (3164, 0.08000711205939975),
 (3233, 0.08000711205939975),
 (4316, 0.08000711205939975),
 (193, 0.07983920607777244),
 (381, 0.07974522228289),
 (1621, 0.07974522228289),
 (1698, 0.07974522228289),
 (1898, 0.07974522228289),
 (3728, 0.07974522228289),
 (4492, 0.07974522228289),
 (153, 0.07916524933276792),
 (286, 0.07916524933276792),
 (1926, 0.07916524933276792),
 (37, 0.07897471897389846),
 (98, 0.07897471897389846),
 (164, 0.07897471897389846),
 (899, 0.07897471897389846),
 (922, 0.07897471897389846),
 (1161, 0.07897471897389846),
 (2938, 0.07897471897389846),
 (4341, 0.07897471897389846),
 (1282, 0.07859774918918593),
 (1659, 0.07859774918918593),
 (1924, 0.07804228110385686),
 (16, 0.07798128673650545),
 (112, 0.07798128673650545),
 (207, 0.07798128673650545),
 (242, 0.07798128673650545),
 (329, 0.07798128673650545),
 (632, 0.07798128673650545),
 (1113, 0.07798128673650545),
 (2219, 0.07798128673650545),
 (2449, 0.07798128673650545),
 (2916, 0.07798128673650545),
 (62, 0.07749842582921286),
 (246, 0.07749842582921286),
 (584, 0.07749842582921286),
 (1045, 0.07749842582921286),
 (1254, 0.07749842582921286),
 (1664, 0.07749842582921286),
 (2274, 0.07749842582921286),
 (2339, 0.07749842582921286),
 (2445, 0.07749842582921286),
 (3126, 0.07749842582921286),
 (3832, 0.07749842582921286),
 (4473, 0.07749842582921286),
 (96, 0.07702442489446452),
 (174, 0.07702442489446452),
 (241, 0.07702442489446452),
 (361, 0.07702442489446452),
 (492, 0.07702442489446452),
 (1290, 0.07702442489446452),
 (3102, 0.07702442489446452),
 (4558, 0.07702442489446452),
 (4624, 0.07702442489446452),
 (125, 0.07679066282306655),
 (3331, 0.07665142306604199),
 (2005, 0.07644397634449163),
 (40, 0.07610194341477616),
 (101, 0.07610194341477616),
 (235, 0.07610194341477616),
 (680, 0.07610194341477616),
 (1289, 0.07610194341477616),
 (1293, 0.07610194341477616),
 (1523, 0.07610194341477616),
 (2018, 0.07610194341477616),
 (2163, 0.07610194341477616),
 (3091, 0.07610194341477616),
 (4045, 0.07610194341477616),
 (4205, 0.07610194341477616),
 (4268, 0.07610194341477616),
 (2256, 0.0759326396601999),
 (205, 0.07543142864047142),
 (776, 0.07543142864047142),
 (850, 0.07543142864047142),
 (1005, 0.07543142864047142),
 (1139, 0.07543142864047142),
 (1770, 0.07543142864047142),
 (1990, 0.07543142864047142),
 (2165, 0.07543142864047142),
 (2212, 0.07543142864047142),
 (2712, 0.07543142864047142),
 (2801, 0.07543142864047142),
 (3117, 0.07543142864047142),
 (4011, 0.07543142864047142),
 (4165, 0.07543142864047142),
 (4412, 0.07543142864047142),
 (4443, 0.07543142864047142),
 (4542, 0.07543142864047142),
 (82, 0.07521183158458504),
 (349, 0.07521183158458504),
 (365, 0.07521183158458504),
 (540, 0.07521183158458504),
 (737, 0.07521183158458504),
 (1009, 0.07521183158458504),
 (2021, 0.07521183158458504),
 (3701, 0.07521183158458504),
 (2190, 0.07494001345079687),
 (3431, 0.07494001345079687),
 (1487, 0.074458079104994),
 (71, 0.07435223956449145),
 (210, 0.07435223956449145),

In [129]:
movie_df['title'].iloc[1216]    ## This is the first recommended movie for Avatar,even this movie is related to aliens

'Aliens vs Predator: Requiem'

In [130]:
movie_df['title'].iloc[507]    ## This is the second recommended movie for Avatar

'Independence Day'

### now we are creating a function to predict only top 5 max distances of a movie and only those 5 will be sent as recommendations

In [134]:
def recommend(movie):
    index = movie_df[movie_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movie_df.iloc[i[0]].title)

In [140]:
recommend('Iron Man 2')

Krrish
Ant-Man
The Animal
The Adventures of Elmo in Grouchland
Iron Man

In [144]:
recommend('Iron Man')

Iron Man 3
Iron Man 2
Avengers: Age of Ultron
The Avengers
Captain America: Civil War

In [145]:
recommend('The Dark Knight Rises')

The Dark Knight
Batman Begins
Batman Returns
Batman
Batman Forever

In [147]:
recommend('El Mariachi')

Killers
Should've Been Romeo
I Served the King of England
I Am Sam
Take Me Home Tonight

In [143]:
movie_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

### saving the similarity and the movie_df into directory

In [149]:
import pickle
pickle.dump(movie_df,open('artifacts/movie_list.pkl','wb'))
pickle.dump(similarity,open('artifacts/similarity.pkl','wb'))